<div class="row">
    <div class="col-md-5">
        <!-- quando si raccolgono i dati emessi si deve usare $event , altrimenti i dati non saranno raccolti  -->
        <app-recipes-list></app-recipes-list>
    </div>
    <div class="col-md-7">
       <router-outlet></router-outlet>
    </div>
</div>