<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <!-- href="/", se lo usiamo funziona ma il problema di usarlo e che si va a ricarica la pagina 
		non è il modo migliore perche significa che ogni volta si ricarica l'itnero stato delll'applciazione andra perso,
		invece di aggiornare solo il DOM della pagina con angular, per questo si utilizza [routerLink]=","  -->
        <li
          role="presentation"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/servers">Servers</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a [routerLink]="['users']">Users</a>
        </li>
        <!-- la notazione con gli array è piu conveniente perche ci consnente di passare un parametro nella rotta, 
		esempio [routerLink]="['users', '7']" ,	permettendo di costruire percorsi più complessi con estrema facilità   -->

        <!-- Se notiamo adesso il bottone di ricarica possiamo notare, che adesso il bottone di ricarica della pagina non cambia,
		Perche l'attributo speciale routerLink cattura il click dell'elemento, evita il preventDefault che sarebbe l'evento di inviare la 
		richiesta e analizza cio che abbiamo passato alla direttiva routerLink, quindi il percorso o l'array di elementi di percorso 
		lo analizza e controlla se trova un percorso adatto nella nostra configurazione, e avviene perche sull'app module abbiamo 
		definito tutti i percosi che usiamo. 
		Questo è il modo corretto con cui dovremmo navigare nella nostra applciazione perche:
		1) non ricarica la pagina, ed è molto piu rapido di ricarica la pagina.
		2) non perde lo stato dell'applicazione
		Ovviamente è anche possibile scrivere l'indirizzo nell'url ma usare il routerLink è molto meglio. 
	-->

        <!-- 
		cosa succede per le diffrenze del routerLink alla linea 7,8,9 ? 
		Non cambia nulla funziona tutto bene. 
	-->

        <!-- per attivare una classe sull'elemento del router link attivo possiamo usare la direttiva 
		routerlinkActive="nomeclasse", in questo caso usando bootstrap usiamo come classe active. 
		Nota che in questo caso vengono attivati sia home che servers, questo perche il path di home cioè "/", 
		è come se fosse attivo, per risolvere questo problema  dobbiamo specificare che il path deve essere esatto,
		con la direttiva [routerLinkActiveOption]={exact:true}, exact è una propietà riservata sull'oggetto 
		si passano le opzioni di routerLinkActive, questo dira ad angular di attivare il routerLinKActive 
		solo se siamo in quel percorso esatto, e non piu con parte del percorso. 
	-->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
