<a (click)="OnclickHome()"> Home </a>
<a (click)="OnclickUser(1)"> User 1</a>
<a (click)="OnclickUser(2)"> User 2</a>

<hr>
<p *ngIf="userActivated" > Activated! </p>
<p><strong> Ciao user {{ this.userId }} </strong></p>


<button class="btn btn-primary" (click)="onActivate()"> Activate </button>