<!-- <a routerLink="../servers">Reload Server</a> -->
<!-- routerLink="server" genera un errore perchè non è possibile andare a server/server 
invce dobbiamo usare /server per indicare che si tratta di un path relativo, che naviga verso localhost:4200/server,
come puoi notare nell'overview del link in basso a sinistra, mentre se non usiamo lo /si andra in localhost:4200/server/server, 
quindi lo / rappresenta un percorso relativo che verra aggiunto al path specificato, il percorso relativo dipende da dove si trova,
per questo potremmo rimuoverlo nella nostra navigazione dove usiamo usiamo sempre percorsi relativi, perchè il non è il nostro componente 
di root. 

abbiamo 3 tipi di routing:
1) percorso assoluto con barra all'inizio, che verranoaggiunti al dominio radice. 
2) i percorsi relativi senza barra(/) o con (./) che significa aggiunti al percorso attaulemente caricato
3) (../) per tornare indietro di un percorso possono anche concatenarne piu di uno.


Esempio 1) Questo componente non viene caricato attraverso il router, il componente di root si trova sempre dentro localhost:4200/ , 
(livello di root), per questo motivo possiamo usare i percorsi relativi. 
Esempio 2) se usiamo ./servers  è equivalente a non mettere lo / esempio = "servers",
Esempio 3) è possibile navigare anche come se siamo in una cartella usando ../server il che significa salire un livello e aggiungere questo al percorso, 
rimuove o più segmenti, fino ad arrivare al localhost:4200, al quale aggiunge /servers andando a comporre localhost:4200/servers.

-->

<h5>{{ server.name }}</h5>
<p>Server status is {{ server.status }}</p>

<button class="btn btn-primary" (click)="onEdit()">Edit Server</button>
