<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{ allowEdit: server.id === 3 ? '1' : '0' }"
        [fragment]="'loading'"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers"
      >
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <button class="btn btn-primary" (click)="onRealod()">Reload Page</button> -->
    <!-- <app-edit-server></app-edit-server>
    <hr /> -->
    <!-- <app-server></app-server> -->
  </div>
</div>

<!-- 
	queryParams viene utilizzata per aggiungere dei query parameters nell'url(esempio ?allowEdit=1)
	queryParams non è una direttiva ma una propieta vincolata dalla direttiva router link,
	nella quale passiamo un oggetto secondo la notazione chiave:valore. 
	E possibile aggiungerne piu di 1 seprandoli da virgola.

	fragment invece puo essere uno solo, ed equivale a #loading, aggiunto alla fine dell'url.
-->
