<a class="list-group-item clearfix" [routerLink]="['/recipes',index]" routerLinkActive="active">
    <div class="pull-left">
        <h4 class="list-group-item-heading"> Recipe {{recipe.name}}</h4>
        <p class="list-group-item-text"> {{recipe.description}} </p>
    </div>
    <span class="pull-right">
        <img [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive maxHeight50">
    </span>
</a>