<p>User with ID {{ user.id }} loaded.</p>
<p>User name is {{ user.name }}</p>

<hr />
<button class="btn btn-primary" [routerLink]="['/user', 10, 'Anna']">
  Load Anna (10)
</button>

<!-- 
Puoi notare che anche se l'url è cambiato non è cambiato il dato mostrato nella view, questo perche e limitato allo snapshop,
ovvero a quell'isntante esatto di quando viene passato un dato la prima volta dallo snapshot,
perche angular non distrugge e ricrea quel componente se siamo gia al suo interno come comportanto di default.
Per poter prendere i dati anche la seconda volta dobbiamo sottoscriverci all'osservabile params di route.
Esempio(this.route.params), gli osservabili ci permettono di lavorare facilemnte con le operazioni asincrone,
ad esempio i dati dell'utente potrebbero cambiare ma non sappiamo quando avverrà, quindi non si può bloccare il codice in 
attesa di evento che possibilemtne non accadra mai.
Un osservabile è un modo semplice e veloce per sottoscriverci ad un evento che potrebbe avvenire nel futuro per poi eseguire
quel codice quando accade, senza doverlo aspetto adesso (bloccando il codice), si tratta di un osservabile e possiamo osservarlo 
sottoscrivendoci a esso, tramite il metodo subscrive. 
Ogni volta che nuovi dati vengono fruiti nell'osservabile( i parametri cambiano) quindi il primo che è una funzione viene eseguita.
Esempio:
this.route.params.subscribe((params: Params) => {}), params sara sempre i parametri definiti nella rotta, andando ad eseguire la funzione 
di aggiornamento dei dati ogni volta che i params cambiano.
la sottoscrizione viene effettua all'onInit del componente ma il codice della funzione anonima al suo interno aavviene 
solo quando i parametri cambiano

Scegliamo di usare lo snapshot contro la sottoscrizione a params:
scegliamo snapshot quando il nostro componente verra sempre richiamato da un componente esterno e non sara mai richiamato da se stesso,
altrimenti usiamo la sottoscrizione a params.
In ogni caso è sempre meglio utilizzare la sottoscrizione a params.

-->
